/.idea/
/.env
/.env.local
/.env.local.php
/.env.*.local
/local-setup.sh
/behat.yml
/phpunit.xml
/composer.phar
/bin/.phpunit
/bin/phpunit
/public/bundles/
/var/cache/*
/var/log/*
!/var/cache/.gitkeep
!/var/log/.gitkeep
/vendor/
