/.idea/
/local-setup.sh
/behat.yml
/composer.phar
/bin/.phpunit
/bin/phpunit
/var/log/*
!/var/cache/.gitkeep
!/var/log/.gitkeep

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
